.fas {
	cursor: pointer;
	margin-left: 5 px; 
	margin: 5 px;
	margin-top: 5 px; 
	margin-bottom: 5 px; 
}
.far{
	cursor: pointer;
	margin-left: 5 px; 
	margin: 5 px;
	margin-top: 5 px; 
	margin-bottom: 5 px; 
}